* {
  margin: 0;
  padding: 0;
}
.container-buttons {
  margin: 40px;
}
.button {
  margin: 10px 0 20px 20px;
}
.button.button-rounded {
  border-radius: 70px;
}
/* XLarge Default buttons */
.button.button-large {
  width: 200px;
  height: 70px;
  font-size: 1.7em;
  color: rgb(117, 112, 117);
  background-color: white;
  border: 3px solid rgb(117, 112, 117);
}
.button.button-large.button-filled {
  background: rgb(117, 112, 117);
  color: white;
}
/* Large Primary buttons */
.button.button-primary {
  width: 160px;
  height: 60px;
  border: 3px solid blueviolet;
  color: blueviolet;
  font-size: 1.4em;
}
.button.button-primary.button-filled {
  background: blueviolet;
  color: white;
}
/* Large Success buttons */
.button.button-success {
  width: 155px;
  height: 55px;
  border: 3px solid limegreen;
  color: limegreen;
  font-size: 1.3em;
}
.button.button-success.button-filled {
  background-color: limegreen;
  color: white;
}
/* Medium Info buttons */
.button.button-medium {
  width: 130px;
  height: 50px;
  border: 3px solid deepskyblue;
  color: deepskyblue;
  font-size: 1.2em;
}
.button.button-medium.button-filled {
  background-color: deepskyblue;
  color: white;
}
/* Small Warning buttons */
.button.button-warning {
  width: 120px;
  height: 45px;
  border: 3px solid darkorange;
  color: darkorange;
  font-size: 1em;
}
.button.button-warning.button-filled {
  background-color: darkorange;
  color: white;
}
/* X-Small buttons */
.button.button-red {
  width: 70px;
  height: 40px;
  border-color: red;
  color: red;
  font-size: 0.9em;
}
.button.button-red.button-filled {
  background-color: red;
  color: white;
}
.row :nth-child(3) {
  border-radius: 5px;
}
.row :nth-child(4) {
  border-radius: 5px;
}
