@font-face {
  font-family: "Work Sans Medium";
  src: url(fonts/WorkSans-Medium.ttf);
}
@font-face {
  font-family: "Work Sans Light";
  src: url(fonts/WorkSans-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans Medium";
  font-weight: bold;
  color: #011548;
}
.cart {
  width: 1440px;
  height: auto;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  margin: 0 auto;
}
.header {
  margin-bottom: 50px;
  font-size: 1.5em;
}
.content {
  width: 80%;
  height: auto;
  background-color: white;
  padding: 100px;
  border: 3px solid #e7e7e7;
}
.content-table {
  width: 100%;
  border-collapse: collapse;
}
.table-titles {
  width: 100%;
  height: 80px;
  border-bottom: 3px solid #e7e7e7;
}
.table-title {
  font-size: 1.3em;
}
.title-description {
  width: 518px;
}
.title-size {
  width: 80px;
}
.title-price {
  width: 148px;
}
.table-item {
  height: 180px;
  border-bottom: 3px solid #e7e7e7;
}
.item-description {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.description-img {
  height: 100px;
}
.description-text {
  margin: auto 30px;
}
.description-title {
  font-size: 1.8em;
}
.description-product {
  padding-top: 7px;
  font-size: 20px;
  font-family: "Work Sans Light";
}
.description-product-code {
  font-family: "Work Sans Medium";
}
.item-size {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.size-name {
  width: 50px;
  height: 50px;
  border: 1px solid #e6e5e5;
  color: #011548;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.quantity-plus {
  width: 52px;
  height: 52px;
  background-color: #011548;
  color: white;
  border: 1px solid #e6e5e5;
  border-right: 0;
}
.quantity-number {
  width: 50px;
  height: 50px;
  background: white;
  border: 1px solid #e6e5e5;
  border-left: 0;
  border-right: 0;
  color: #011548;
}
.quantity-minus {
  width: 50px;
  height: 50px;
  color: #011548;
  background-color: #dbdbdb;
  border: 1px solid #e6e5e5;
  border-left: 0;
}
.quantity-plus,
.quantity-number,
.quantity-minus {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-remove {
  width: 50px;
  height: 50px;
  border: 1px solid #e6e5e5;
  color: #011548;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.item-price {
  color: #011548;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 25px;
}
.content-results {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.result-item {
  width: 265px;
  height: 100px;
  border: 1px solid #e6e5e5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-family: "Work Sans Light";
}
.result-item-price {
  font-size: 25px;
  font-family: "Work Sans Medium";
}
.footer {
  width: 100%;
  font-family: "Work Sans Light";
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.conteiner-promocode {
  width: 856px;
}
.promo-header {
  margin: 30px;
  font-size: 17px;
}
.promo-entry-field {
  width: 100%;
  border: 1px solid #e6e5e5;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.entry-field-text {
  margin: 20px 0 20px 30px;
  flex-grow: 1;
}
.entry-field-button {
  width: 256px;
  margin: 0;
  background-color: #011548;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-btn {
  width: 265px;
  margin-top: 81px;
  display: flex;
  flex-direction: column;
}
.btn-checkout {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  border: 1px solid #e6e5e5;
}
.btn-checkout-text {
  height: 65px;
  background-color: #011548;
  width: 185px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans Light";
}
.btn-checkout-img {
  width: 77px;
  background-color: #011548;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout-img {
  height: 25px;
}
.btn-action {
  height: 65px;
  margin-top: 10px;
  width: 100%;
  background-color: #eeeeee;
  border: 1px solid #e6e5e5;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
